
<div class="nwa-order-widget">

    <div class="nwa-order-heading">
<!--         <img class="nwa-order-icon" ng-src="images/therm-icon.png" alt="thermometer" />
 -->        <span class="nwa-order-title"> &nbsp; Order Update</span>
    </div>

    <div class="nwa-order-body" >
        <!-- ng-style="selectedLocation != null && {'background-image': 'url(/images/' + selectedLocation.image + ')'}"> -->
        <!-- <div ng-if="!isLoaded && !hasError">
            <i class="fa fa-refresh fa-2x fa-spin"></i>
        </div>
        <div ng-if="isLoaded" class="nwa-order-view">
            <div class="nwa-order-river-name">
                {{ selectedLocation.name }}
            </div>
            <div class="nwa-order-degrees">
                {{ selectedLocation.temperature }}º
            </div>
        </div>
        <div ng-if="hasError">
            <h4>Error loading widget.</h4>
            <button class="btn btn-primary" ng-click="loadLocation()">Reload</button>
        </div> -->
    
        <nw-list>
        </nw-list>
    </div>

</div>